<a href="https://colab.research.google.com/github/nbiish/GVSU-spring2024/blob/main/CIS_Class_Spring_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1/16/24

In [ ]:
325 % 13.5

In [ ]:
num = int(input())

print(num)

In [ ]:
import math

print(math.cos(45))

In [ ]:
math.sqrt(120)

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

x = np.linspace(0, 2*np.pi, 100)

y = np.cos(x)

plt.plot(x,y)

plt.show()

In [ ]:
fromDegreesAndBack = (math.radians(45))

print(fromDegreesAndBack)

print(math.degrees(fromDegreesAndBack))

In [ ]:
print(f"${3.12*1.06:.2f}")

In [ ]:
print(math.floor(10.15))

In [ ]:
print(f"{10.25:.0f}")

In [ ]:
print(math.ceil(10.25))

In [ ]:
import random

for _ in range(10):
  print(random.random()*9+1)

for _ in range(10):
  print(random.randrange(1,11))

## 1/18/24

In [ ]:
print("hello", end=", ")
print("goodbye")

In [ ]:
import random

for _ in range(20):
  print(random.randrange(1,11), end=", ")

In [ ]:
test_string = "some test text" " additional test text"

In [ ]:
print(test_string)

print(len(test_string))

In [ ]:
print(test_string[-3:])

In [ ]:
binary_example = "10"*10

In [ ]:
print(binary_example[::2])

In [ ]:
" TEST ".center(30,"*")

## 1/23/24

In [ ]:
s = "Tuesday"
print(s[:1].lower())

In [ ]:
x = int(input())

if x < 55:
  print("Chii Miigwetch!! that's the 'right' number")
elif x > 55 and x < 90:
  print("That's a special number...")
else:
  print("I think you should pick another number....")

### homework

In [ ]:
def parrot_trouble(talking, hour):
  if talking is True and (hour > 7 or hour < 20):
    return True
  else:
    return False

parrot_trouble(True, 6)

In [ ]:
def front_back(str):
  if len(str) < 2:
    return str
  else:
    first_char = str[0]
    last_char = str[-1]
    middle_chars = str[1:-1]
    return last_char + middle_chars + first_char

front_back("potato")

## 2/6/24

In [ ]:
input_num = int(input("Enter a number between 3 and 15: "))

increment_num = 1

if input_num < 3 or input_num > 15:
  print("Not between the numbers")
else:
  while increment_num < input_num+1:
    print('*' * increment_num)
    increment_num += 1