<a href="https://colab.research.google.com/github/nbiish/GVSU-spring2024/blob/main/Lab_7_zybooks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ✅23.2

In [47]:
countdown_input = int(input(""))

while True:
  if (countdown_input > 99) or (countdown_input<11):
    print("Input must be 11-99")
    break
  elif (countdown_input % 10) == (countdown_input // 10):
    print(countdown_input)
    break
  print(countdown_input)
  countdown_input -= 1

Enter countdown start between 11-99: 11
11

In [8]:
number = 23
print(number // 10)
print(number % 10)

2
3

## ✅23.5

In [63]:
low = int(input())
high = int(input())
x = int(input())

print_list = []

print(f"Multiples of {x}: ", end='')
for i in range(low, high):
  if i % x == 0:
    print(f"{i}", end=',')
print()

1
10
2
Multiples of 2: 2,4,6,8,

# ✅23.7

In [82]:
n = int(input())

line_count = 0
max_line_size = 5

while (n != 1):
  print(f"{n:.0f}", end="\t")
  line_count += 1

  if line_count % 5 == 0:
    print()

  if (n % 2 == 0):
    n //= 2
  else:
    n = (n*3)+1
print(f"{n:.0f}", end="\t")

33
33	100	50	25	76
38	19	58	29	88
44	22	11	34	17
52	26	13	40	20
10	5	16	8	4
2	1

# ✅23.9

In [87]:
loan_amount = float(input())
payment_amount = float(input())
interest_rate = float(input())

count = 0
while loan_amount >= 0:
  loan_amount *= (1 + interest_rate)
  loan_amount -= payment_amount
  count += 1
if count == 1:
  print(f"{count} payment")
else:
  print(f"{count} payments")

50
100
0.02
1 payment

# ✅23.10

In [95]:
string_one = input()
string_two = input()

same_count = 0

length_check = 0
if len(string_one) > len(string_two):
  length_check = string_two
else:
  length_check = string_one

for i in range(len(length_check)):
  if string_one[i] == string_two[i]:
    same_count += 1

if same_count == 1:
  print("1 character matches")
elif same_count > 1:
  print(f"{same_count} characters match")
else:
  print("0 characters match")

tes
zest
2 characters match